<div class="flex gap-2 mb-4">
  <h1 class="text-2xl font-semibold">Nhập hàng</h1>
  <%= link_to "Thêm sản phẩm", new_product_path ,
              class: "py-1 px-2 bg-blue-500 text-white"
  %>
</div>

<%= render 'orders/form' %>