<div class="flex gap-2 mb-4">
  <h1 class="text-3xl font-semibold">Xuất hàng</h1>
  <%= link_to "Thêm sản phẩm", new_product_path ,
              class: "bg-green-500 hover:bg-green-600 text-white 
              text-sm font-semibold py-2 px-4 rounded-md transition"
  %>
</div>

<%= render 'orders/form' %>